//  颜色变量定义于此处

//  UI基准色
$baseColor:#1e8dff;
// 基准色辅助色 用于有导航激活的颜色
$baseColorDeep:#0065cc;
// 导航正常颜色
$baseColorLight:#47a2ff;
//  基准背景色
$baseBgColor:#f8f8f8;
// nav背景色
$navbaseBgColor:#e9e9e9;
// nav字体
$navFontColor:#808182;
// 正文字体
$mainFontColor: #5e5e5e;
//  表格背景色
$baseTableColor:#ffffff;
// 表格header背景色
$baseTableheaderBg:#ededed;
//  标准成功颜色
$successColor: #31BC5F;
//  标准警告颜色
$warningColor: #F1A12D;
//  标准错误颜色
$dangerColor: #F05C59;
// 辅助色
$baseSopport:#ff9000;
// hover辅助色
$baseHoverBg: #ECF5FF;
// 字体颜色,用于输入框中的placeholder 或者一些辅助说明性的文字,或者tab未激活状态
$fontPlaceHolder:#c0c0c0;
// 进度条的线条颜色
$lineGutterColor:#c0c0c0;
// card背景色
$baseCardBg:#f0f0f0;
// card分割线 lighter
$baseLineBg: #bcd2e3;
// card分割线 deeper
$baseLineBgDeep: #a2d0ff;
// tab active color
$baseTabActive:#ffbb00;
// table content文字颜色
$tableContentColor:#737373;
// table border颜色
$tableBorderColor:#e6e6e6;
// 债权详情borderColor
$tableBorderColor_2: #d7d7d7;
// gutter color
$gutterColor: #d3d3d3;
// 文字重点提醒颜色
$remindrColor:#f20000;
